
<div>
    <hr />
    <dl class="dl-horizontal" entityID="@Model.ID" entityType="building">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildTime)
        </dd>
        <button class="buyNew">clickmeee</button>
    </dl>
</div>


